.comment-input-container {
  margin-top: 20px;
  border-radius: 4px;
  background-color: rgb(188, 191, 193);
}

.submit-container {
  width: calc(100% - 7px);
  display: flex;
  padding: 0 7px 7px 0;
  justify-content: end;
}
